.task-company {
  padding: 15px;
  .company-data {
    .cp-between {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cp-data {
        font-size: 16px;
        font-weight: 500;
        line-height: 27px;
        color: #6d6d6d;
        margin: 0px;
      }
      .cp-label {
        font-size: 14px;
        font-weight: 500;
        line-height: 27px;
        color: #939393;
        margin: 0px;
      }
    }
  }
}
