.manage-license {
  display: flex;
  .right-sidebar {
    padding: 20px;
    width: calc(100vw - 300px);
    height: 100vh;
    overflow: auto;
  }
}


@media only screen and (max-width: 992px){
  .manage-license {
    .right-sidebar {
      width: calc(100vw - 70px);
      position: absolute;
      left: 70px;
    }
  }
}