.team-model .add-team-modal {
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.84px;
  color: #2b62f9;
  background-color: #ffffff;
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  background: #fff;
  border: 1px solid #fff;
}
/* model buttons  */
.team-model .add-team-modal.edit-people{
  color: #4E4D4D;
  font-size: 20px;
  padding: 8px 0px;
} 


.add-new-company {
   border-bottom: 1px solid #c4c4c4;
    padding-top: 20px;
    padding-bottom: 10px;
}

.add-new-company .add-button{
  background-color: #fff;
  font-size: 18px;
   font-weight: 400;
  line-height: 22px;
   color: #323232fc;
}

.add-new-company .add-button i{
  color: #2b62f9;
  margin-right: 10px;
}





.team-model .add-team-modal:focus {
  border: none;
  outline: none;
}

.team-model .add-team-modal:focus-visible {
  border: none;
}

.all-center {
  overflow: hidden;
  border-radius: 40px;
  margin: 30px 0px;
}

.add-team-body {
  padding: 30px;
  background: #ffffff;
  position: relative;
}

.cross-icon{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #1a73e8;
}

.all-between-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.all-between-items h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.84px;
  color: #333333;
  margin-left: 10px;
}

.all-between-items .fa-gear {
  color: #2b62f9;
}

.model-heading {
  justify-content: center;
  margin-bottom: 20px !important;
}

.model{
  padding: 0px !important;
}

/* css */

.mod-center {
  max-width: 75% !important;
  margin: auto !important;
}

@media only screen and (max-width: 768px) {
  .model-heading {
    font-size: 24px !important;
  }
}

@media only screen and (max-width: 600px) {
  .mod-center {
    max-width: 90% !important;
  }
}

@media only screen and (max-width: 500px) {
  .mod-center {
    max-width: 90% !important;
  }
  .all-between-items {
    flex-wrap: wrap;
    margin-top: 0px;
  }
  .all-center {
    margin: 10px 0px;
  }
}
