.account-profile{
    padding-top: 50px;
    .list{
        padding: 30px 0px;
        > p{
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
            text-transform: uppercase;
        }

    }
}
