@import "../SCSS/Colors.scss";
@import "../SCSS/MixCode.scss";


.main-hero-section {
  display: grid;
  grid-template-columns: 3fr 2fr;
  min-height: 65vh;
  .left-home {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
    padding-right: 20px;
    .below-service {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 20px;
      p {
        margin-top: 0px;
      }
    }
  }
  .right-home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }
}

// key offer

.key-offer {
  .offering-main-box {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 40px 0px;
  }
}



// seamless box

.seamless-box {
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 20px;
  .seamless-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  .seamless-right {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
}

.finance-steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px 30px;
  justify-content: center;
  color: #fff;
  .steps-count {
    padding: 10px;
    text-align: center;

    .counting {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      .count {
        height: 60px;
        width: 60px;
        border: 1px solid #fff;
        font-size: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::after {
          content: "";
          height: 2px;
          width: 190%;
          display: block;
          color: #fff;
          position: absolute;
          background-color: #fff;
          left: 175%;
        }
      }
      .count.last-count {
        &::after {
          height: 0px;
        }
      }
    }
  }
  .finance-heading {
    font-size: 22px;
    line-height: 40px;
    font-family: $font-bold;
  }
  .finance-desc {
    font-size: 16px;
    line-height: 25px;
    font-family: $font-medium;
  }
}

// about section

.about-section {
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 20px;
  .center-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
  .abt-head {
    font-size: 55px;
    line-height: 75px;
    color: #093252;
    font-family: $font-heavy;
    font-weight: 700;
    letter-spacing: 0.015em;
    font-weight: 800;
  }
  .abt-desc {
    margin-top: 40px;
    font-size: 18px;
    line-height: 32px;
    color: #093252;
    font-family: $font-medium;
    font-family: Gilroy-Medium;
    
  }
  .abt-form {
    padding-left: 25px;
    padding-right: 25px;
  }
}
}

// user guide scss

.user-guide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 160px;
  .user-guidenes {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 10px;
    gap: 30px;
    .user-icon {
      font-size: 100px;
      color: #fff;
    }
  }
}

.how-get {
  display: none;
}

// media query

@media only screen and (max-width: 992px) {
  .main-hero-section {
    grid-template-columns: 1fr;
  }

  .finance-steps {
    grid-template-columns: 1fr;
    gap: 25px;
    .steps-count {
      padding: 10px;
      text-align: center;
      .counting {
        .count {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  .seamless-box {
    grid-template-columns: 1fr;
    .seamless-left {
      gap: 10px;
    }
  }

  .about-section {
    grid-template-columns: 1fr;
  }

  .user-guide {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .user-guide {
    gap: 100px;
    margin: auto;
    .user-guidenes {
      width: 350px;
      margin: auto;
      padding-left: 20px;
      padding-right: 20px;
      h1{
        font-size: 40px;
      }
      .user-icon {
        font-size: 100px;
        color: #fff;
      }
    }
  }

  .about-section {
    .center-about{
    .abt-head {
      font-size: 40px;
    }
    .abt-desc {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
  }
  .how-get {
    display: block;
  }

  .seamless-box {
    .seamless-left {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}




@media only screen and (max-width: 450px) {
  .user-guide {
    .user-guidenes {
      width: 100%;
     
    }
  }
}
