@import "../SCSS/Colors.scss";
@import "../SCSS/MixCode.scss";

.info-teams {
  padding-top: 20px;
  padding-bottom: 35px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.team-add {
  padding: 20px 25px;
  .team-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
  }
  .team-button{
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
    background-color: transparent;
    color: $lightBlue;
    border: 1px solid $lightBlue;
    padding: 10px 20px;
    border-radius: 10px;  
  }
}

.add-teams {
  @include all-between;
  border-bottom: 1px solid $grayOne;
  .team-type {
    h3 {
      @include font-one;
      color: $graySix;
    }
  }
  .team-edit {
    @include all-center;
    gap: 40px;
    .add,
    .edit {
      @include all-center;
      gap: 10px;
      @include font-four;
      i {
        color: $lightBlue;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .add-teams {
    .team-type {
      min-width: 140px;
      h3 {
        font-size: 16px;
        line-height: 20px;
      }
    }
    .team-edit {
      .add,
      .edit {
        font-size: 16px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .add-teams {
    .team-edit {
      gap: 20px;
      .add,
      .edit {
        width: 120px;
      }
    }
  }
}
