@import "../SCSS/Colors.scss";
@import "../SCSS/MixCode.scss";

.add-teams {
  @include all-between;
  border-bottom: 1px solid $grayOne;
  .team-type {
    h3 {
      @include font-one;
      color: $graySix;
    }
  }
  .team-edit {
    @include all-center;
    gap: 40px;
    .add,
    .edit {
      @include all-center;
      gap: 10px;
      @include font-four;
      i {
        color: $lightBlue;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .add-teams {
    .team-type {
      min-width: 140px;
      h3 {
        font-size: 16px;
        line-height: 20px;
      }
    }
    .team-edit {
      .add,
      .edit {
        font-size: 16px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .add-teams {
    .team-edit {
      gap: 20px;
      .add,
      .edit {
        width: 120px;
      }
    }
  }
}
