@import "../SCSS/Colors.scss";
@import "../SCSS/MixCode.scss";

.company-all {
  padding: 30px 0px;
  border: 1px solid $whiteTwo;
  margin-bottom: 20px;
  .company-info {
    padding: 20px;
    .info-all {
      @include all-between;
      .info-text {
        margin-bottom: 0px;
        display: flex;
        gap: 10px;
        i {
          color: $lightBlue;
        }
        h4 {
          font-size: 23px;
          font-weight: 400;
          line-height: 25px;
        }
      }
      .info-edit {
        font-size: 20px;
        font-weight: 600;
        line-height: 34px;
        color: $lightBlue;
        span {
          margin-left: 5px;
        }
      }
    }
    .all-details {
      margin-top: 20px;
      .brand-name {
        font-size: 23px;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 20px;
      }
    }
  }
}

.display-team {
  @include all-between;
  .team-type {
    h4 {
      font-size: 20px;
      font-weight: 400;
      line-height: 27px;
      color: $graySix;
    }
  }
}

@media only screen and (max-width: 768px) {
  .company-all {
    padding: 15px 0px;
  }
}
