@import "../SCSS/Colors.scss";
@import "../SCSS/MixCode.scss";


.manage-business {
  min-height: calc(100vh - 210px);
  padding: 20px 0px;
  .manage-box {
    border: 1px solid $blue;
    padding: 30px 50px;
    background: $white;
    box-shadow: 1px 4px 12px rgba(193, 193, 193, 0.46);
    border-radius: 20px;
    margin-top: 40px;
    min-height: 600px;
    .existance-text {
      @include all-center;
      margin: 0;
      gap: 20px;
      .font-big-icon {
        font-size: 45px;
        color: $lightBlue;
      }

      p {
        margin: 0;
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        color: $blackLight;
      }
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 27px;
      letter-spacing: 0.8px;
      color: $blackLight;
      margin: 25px 0px;
    }
    .teams-points {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
      p {
        font-weight: 300;
        font-size: 13px;
        line-height: 34px;
        letter-spacing: 0.8px;
        color: $blackLight;
        margin: 0;
      }
      img {
        height: 35px;
        width: 35px;
      }
      .detail-icon {
        font-size: 22px;
        color: $lightBlue;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .manage-business {
    .manage-box {
      padding: 20px 25px;
      margin: 0px 15px;
    }
  }
}
