@import "../SCSS/Colors.scss";
@import "../SCSS/MixCode.scss";


.heading-forget{
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
}

.forget-pass{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
    width: 600px;
    // border: 1px solid red;
    border: 1px solid $grayFour;
    padding: 20px;
    border-radius: 4px;
}