@import "../SCSS/Colors.scss";
@import "../SCSS/MixCode.scss";


.sign-up {
  @include all-center;
  min-height: 90vh;
  background-color: $white;
  padding-top: 20px;
  padding-bottom: 20px;
  .sign-box {
    border: 1px solid $grayFour;
    padding: 70px 140px;
    border-radius: 40px;
    width: 760px;
    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 27px;
      color: $black;
    }
    p {
      margin-top: 10px;
      margin-bottom: 30px;
    }
    .google-sign-btn {
      padding: 8px 16px;
      width: 100%;
      border: 1px solid $grayFive;
      border-radius: 10px;
      background-color: $white;
      display: block;
      text-align: center;
      text-decoration: none;
      @include all-center;
      gap: 15px;
      padding: 10px;
    }
    .signin-text {
      text-align: center;
      color: $lightGray;
      margin: 0;
      padding: 15px 0px;
      position: relative;
      &:before {
        content: "";
        height: 1px;
        width: 30%;
        position: absolute;
        display: block;
        background: $lightGray;
        border-radius: 20px;
        top: 45%;
      }
      &:after {
        content: "";
        height: 1px;
        width: 30%;
        position: absolute;
        display: block;
        background: $lightGray;
        border-radius: 20px;
        top: 45%;
        right: 0;
      }
    }
    .label-heading {
      display: block;
    }
    input {
      background: $white;
      border: 1px solid $grayFive;
      border-radius: 10px;
      width: 100%;
      padding: 10px;
      text-align: center;
      margin-bottom: 5px;
      &:hover {
        border: 1px solid $lightBlue;
      }
      &::placeholder {
        opacity: 1;
        @include font-one;
        color: $lightBlue;
      }
    }
    .password-input {
      &::placeholder {
        letter-spacing: 0.8px;
        color: $grayTwo;
      }
    }
    .sign-btn {
      @include all-between;
      .remember-text {
        @include all-center;
        gap: 10px;
        p {
          margin: 0;
        }
      }
      .sign-button {
        width: 258px;
        padding: 10px;
        background: $white;
        border: 2px solid $lightBlue;
        border-radius: 10px;
        @include font-two;
        text-align: center;
        letter-spacing: 0.84px;
        color: $lightBlue;
        &:hover {
          color: $white;
          background-color: $lightBlue;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .sign-up {
    .sign-box {
      margin-left: 15px;
      margin-right: 15px;
      padding: 40px 40px;
      .signin-text {
        &:before {
          width: 10%;
        }
        &:after {
          width: 10%;
        }
      }
      .sign-btn {
        flex-direction: column;
        gap: 20px;
        font-size: 18px;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .sign-up {
    .sign-box {
      padding: 40px 20px;
      .signin-text {
        &:before {
          width: 10%;
        }
        &:after {
          width: 10%;
        }
      }
      .sign-btn {
        flex-direction: column;
        gap: 20px;
        font-size: 18px;
        .sign-button {
          width: 200px;
          font-size: 22px;
        }
      }
    }
  }
}
