.blank-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    background: #b1a9a9;
    border-radius: 10px;
    .blank-text{
        color: #fff;
        font-size: 35px;
        font-weight: 300;
    }
}
