@import "../SCSS/Colors.scss";

.breadcrum {
  .bread-link {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: #9f9898;
    .bread-span {
      .fa-chevron-right {
        font-size: 12px;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }
}
