@import "../SCSS/Colors.scss";

.brand-collect {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 5px;
  .brand-entity {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: $graySeven;
    text-transform: uppercase;
    text-align: right;
  }
  .brand-value {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: $lightBlack;
  }
}

@media only screen and (max-width: 992px) {
  .brand-collect {
    .brand-entity {
      font-size: 14px;
    }
    .brand-value {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .brand-collect {
    .brand-entity {
      font-size: 13px;
    }
    .brand-value {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .brand-collect {
    flex-direction: column;
    margin-bottom: 12px;
    gap: 0px;
    .padding-zero {
      padding-left: 0px;
    }
    .brand-entity {
      font-size: 14px;
      text-align: left;
    }
    .brand-value {
      font-size: 16px;
    }
  }
}
