.manageside-bar {
  width: 300px;
  border-right: 6px solid #c4c4c4;
  height: 100vh;
  padding: 40px 20px;
  .manage-logo {
    width: 170px;
    height: 69px;
  }
  .side-nav-items {
    padding: 60px 0px;
    .list-unorder {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .linkw-icon {
        margin-bottom: 10px;
        .toggle-under-list {
          padding-top: 20px;
          padding-left: 35px;
          font-size: 16px;
          .toggle-list-item {
            color: #000;
            font-size: 16px;
            padding: 15px 0px;
            line-height: 35px;
            font-family: Inter;
            font-weight: 700;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .complience-body {
          padding: 10px;
        }
        .main-link {
          padding: 12px 22px;
          border-radius: 30px;
          font-size: 16px;
          font-weight: 700;
          line-height: 19px;
          color: #000000;
          font-weight: 500;
          &:hover {
            text-decoration: none;
          }
          i {
            margin-right: 10px;
          }
        }
        .main-link.active {
          background: rgba(221, 227, 232, 0.52);
          font-weight: 700;
          color: #2b62f9;
          text-decoration: none;
        }
      }
    }
  }
}


@media only screen and (max-width: 768px){

  .manageside-bar {
    width: 75px;
    overflow: hidden;
    .manage-logo {
      display: none;
    }
    .side-nav-items {
      .list-unorder {
        .linkw-icon {
          margin-bottom: 10px;
          .main-link{
            padding-left: 5px !important;
            .fa-chevron-right{
              position: relative;
              top: -20px;
              left: -15px;
            }
            span{
              display: none;
            }
          }

          .toggle-under-list {
            padding-top: 20px;
            padding-left: 35px;
            font-size: 16px;
            .toggle-list-item {
              color: #000;
              font-size: 16px;
              padding: 15px 0px;
              line-height: 35px;
              font-family: Inter;
              font-weight: 700;
              &:hover {
                text-decoration: none;
              }
            }
          }
          .complience-body {
            padding: 10px;
          }
          .main-link {
            padding: 12px 22px;
            border-radius: 30px;
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            color: #000000;
            font-weight: 500;
            &:hover {
              text-decoration: none;
            }
            i {
              margin-right: 10px;
            }
          }
          .main-link.active {
            background: rgba(221, 227, 232, 0.52);
            font-weight: 700;
            color: #2b62f9;
            text-decoration: none;
          }
        }
      }
    }
  }

}