@import "../SCSS/Colors.scss";
@import "../SCSS/MixCode.scss";

.offer-box {
  padding: 16px 30px;
  width: 320px;
  border-radius: 5px;
  background: $white;
  text-align: center;
  i {
    font-size: 35px;
    color: $themeBlue;
  }
  .offer-heading {
    font-size: 33px;
    line-height: 44px;
    color: $themeBlue;
    margin: 20px 0px;
    font-family: $font-bold;
  }
  .offre-more {
    font-size: 18px;
    line-height: 44px;
    color: $themeBlue;
  }
}

@media only screen and (max-width: 768px) {
  .offer-box {
    width: 100%;
  }
}
