.offer-box {
  padding: 16px 30px;
  width: 320px;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  i {
    font-size: 35px;
    color: #093252;
  }
  .offer-heading {
    font-size: 33px;
    line-height: 44px;
    color: #093252;
    margin: 20px 0px;
  }
  .offre-more {
    font-size: 18px;
    line-height: 44px;
    color: #093252;
  }
}

@media only screen and (max-width: 768px) {
  .offer-box {
    width: 100%;
  }
}
