@import "../SCSS/Colors.scss";
@import "../SCSS/MixCode.scss";

.team-profile {
  @include all-center;
  gap: 10px;
  .image-pro {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid gray;
    img {
      @include image-circle;
    }
  }
  .team-text {
    h3 {
      color: $graySix;
      font-size: 24px;
      font-weight: 600;
      line-height: 27px;
    }
    h2 {
      font-size: 20px;
      font-weight: 400;
      line-height: 27px;
      color: $blue;
      span {
        color: $graySix;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .team-profile {
    .team-text {
      h3 {
        font-size: 18px;
        line-height: 22px;
      }
      h2 {
        font-size: 16px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .team-profile {
    min-width: 220px;
  }
}
