* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

/* +++++++++++++++++ css Variables +++++++++++++++++ */

:root {
  /* colors  */
  --black: #000;
  --white: #fff;
  --red: #ff0000;
  --blue-color: #2b62f9;
  --first-gray: #333333;
  --second-gray: #263238;
  --third-gray: #a4a0a0;
  --forth-gray: #979baa;
  --fifth-gray: #4d4e51;
  --red-first: #f32929;
  --light-blue: #1a73e8;

  --font-bold: 'Gilroy-Bold', sans-serif;
  --font-heavy: 'Gilroy-Heavy', sans-serif;
  --font-light: 'Gilroy-Light', sans-serif;
  --font-medium: 'Gilroy-Medium', sans-serif;
  --font-regular: 'Gilroy-Regular', sans-serif;

  /* fonts  */
  --font-first: 14px;
  --font-second: 15px;
  --font-third: 18px;
  --font-forth: 24px;

  /* line height */
  --line-first: 25px;
  --line-second: 23px;
  --line-third: 25px;
  --line-forth: 27px;
}

html {
  scroll-behavior: smooth;
}

/* common classes */

.fw-700 {
  font-weight: 700 !important;
}

.color-blue{
  color: var(--blue-color) !important;
}

ul {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

.error-text {
  color: var(--red);
}

.w-215 {
  width: 215px;
}
.table td,
.table th {
  border-top: none;
}

button:focus {
  outline: none;
}

.error-show{
  color: #DC3545;
  font-size: 14px;
  margin: 5px 0px;
  font-family: 'Roboto', sans-serif;
}

/* common classes */

/* //// +++++++++++++++++ css Variables +++++++++++++++++ */

/*++++++++++++++++++ common headings +++++++++++++++++++*/

.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.only-center {
  display: flex;
  align-items: center;
}

.all-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-heading {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #000;
}

.sub-heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  color: var(--black);
}

.title-heading {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--fifth-gray);
}

.info-heading {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--first-gray);
}

.checkCircle {
  color: var(--blue-color);
}

.input-focus {
  background: var(--white);
  border: 1px solid #cccccc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  font-weight: 500;
}

.input-focus::placeholder{
  font-size: 15px;
  color: #988D8D;
}

.input-focus:focus {
  box-shadow: 0 0 0 0.2rem rgba(43, 98, 249, 0.2);
  border-color: var(--blue-color);
}

.first-button {
  padding: 0px 60px;
  padding-bottom: 2px;
  background: var(--light-blue);
  border: 1px solid var(--light-blue);
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.84px;
  color: var(--white);
  outline: none;
  cursor: pointer;
  position: relative;
  min-height: 30px;
}

.first-button:hover {
  background: transparent;
  color: var(--black);
  border: 1px solid  var(--blue-color);;
  text-decoration: none;
}

.first-button:focus {
  outline: none;
}

/* options */

.first-option option {
  padding: 20px 0px !important;
  color: var(--black);
  margin: 20px !important;
}

.info-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  color: var(--black);
  text-align: center;
  margin-bottom: 30px;
}

.heading-primary {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: var(--black);
  margin: 15px 0px;
}

.active-link {
  color: var(--blue-color);
  background: #dde3e8;
}

.search-icon-btn {
  position: absolute;
  right: 25px;
  font-size: 18px;
  top: 10px;
}

.pr-ten {
  padding-right: 10px;
}

.pl-ten {
  padding-left: 10px;
}

.team-heading {
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
  color: #a9a4a4;
  margin: 40px 0px;
  text-align: center;
}

.linkactive {
  background-color: var(--red);
  color: var(--white);
}

.item-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: var(--first-gray);
}

.heading-info {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: var(--forth-gray);
}

.item-heading-new {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: var(--first-gray);
  margin-left: 3px;
}

.state-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;  
  color: var(--red);
  color: var(--blue-color);
  margin-left: 3px;
}

/* rect css code */
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  display: block !important;
}

.scrollbar-sider::-webkit-scrollbar {
  width: 5px;
  height: 60%;
  border-radius: 20px;
  background-color: var(--blue-color);
}

.error-change{
  margin-top: 5px;
  font-size: 14px;
  color: #dc3545 !important;
}

.min-200{
  min-height: calc(100vh - 195px);
}

.w-300{
  width: 300px;
}

/* buttons */

.delete-button{
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #9f9898;
    background-color: transparent;
}

.delete-button:hover{
  color: #DC3545;
}

/* buttons */
/* nav links  */

.link-box .link-item{
  display: none;
  position: absolute;
  width: 86vw;
  left: 0px;
  top: 80px;
  background-color: var(--white);
  box-shadow: 0px 10px 10px rgba(0,0,0,.2);
}

.link-box{
  transition: all 1s ease-in-out;
  padding: 21px 10px;
}

.link-box:hover .link-item{
  display: initial;
}

.link-box .link-itemsss:hover{
  text-decoration: none;
}

.link-box:hover .link-itemsss{
  border-bottom: 4px solid  var(--light-blue);
}

.link-box:hover .link-itemsss .fa-chevron-down{
  rotate: 180deg;
  color: var(--light-blue);
}

.height-collapse{
  height: auto !important;
}

.rs-progress-line .rs-progress-icon-fail, .rs-progress-line .rs-progress-icon-success {
  display: none;
}

/* end nav links */

/* +++++++++++++++++++++++++++++++++++++++++++ */
/*+++++++++++ home page common classes +++++++++++*/
/* +++++++++++++++++++++++++++++++++++++++++++ */

.bg-theme{
  background-color: #093252;
}

.home-padding{
  padding-top: 50px;
  padding-bottom: 50px;
}

.home-section-padding{
  padding-top: 70px;
  padding-bottom: 70px;
}

.padding-fixed{
  padding-top: 120px;
}

.hmain-heading{
  font-size: 65px;
  line-height: 80px;
  letter-spacing: 0px;
  color: #093252;
  font-family: var(--font-heavy);
  font-weight: 800;
}

.text-w{
  color: #fff;
  text-align: center;
}

.hmain-desc{
  font-size: 18px;
  line-height: 32px;
  color: #093252;
  font-family: var(--font-medium);
  letter-spacing: 0.07em;
}

.head-two{
  font-size: 14px;
  line-height: 24px;
  color: #093252;
}

.fw-700{
  font-weight: 700;
}

.home-submit-btn{
  background-color: #093252;
  font-family: Poppins;
  color: #fff;
  padding: 10px 0px;
  text-align: center;
  width: 100%;
  border-radius: 2px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1px;
}

.white-home-btn{
  font-family: Poppins;  
  color: #093252;
  background-color: #fff;
  border: 1px solid #fff;
  padding: 10px 40px;
  width: 100%;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.w-300{
  width: 300px;
}

.color-dblue{
  color: #093252;
}

.white-bg{
  background-color: #fff;
  position: fixed;
  width: 100%;
  margin-bottom: 20px;
}

.flex-end-cl{
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

/* +++++++++++++++++++++++++++++++++++++++++++ */
/*+++++++++++ / home page common classes +++++++++++*/
/* +++++++++++++++++++++++++++++++++++++++++++ */

@media only screen and (max-width: 1200px){
  .hmain-heading{
    font-size: 55px;
  }  
}

@media only screen and (max-width: 992px){
  .hmain-heading{
    line-height: 80px;
  }
}

/* react css code */

@media only screen and (max-width: 768px) {
  .pr-ten {
    padding-right: 0px;
  }
  .pl-ten {
    padding-left: 0px;
  }
  .hmain-heading{
    line-height: 70px;
  }
  .hmain-heading.text-w{
    font-size: 50px;
    text-align: left;
    line-height: unset;
  }
  .hmain-heading.seamless{
    font-size: 70px;
    line-height: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .first-button {
    padding: 8px 30px;
    font-size: 22px;
    line-height: 28px;
  }
   .hmain-heading{
    font-size: 37px;
    line-height: 50px;
  }
  .home-section-padding{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .hmain-heading.seamless{
    font-size: 50px;
    line-height: 60px;
  }
}
