$red : #ff00ff;

$white: #ffffff;
$black: #000000;
$lightBlack: #333333;
$lightBlack: #010101;
$lightGray: #a4a0a0;
$lightBlue: #1a73e8;
$blue: #2b62f9;
$grayFour: #c4c4c4;
$grayFive: #a5a6a8;
$grayTwo: #b2b9c2;
$grayOne : #cccccc;
$graySix: #4e4d4d;
$graySeven: #979baa;
$grayEight: #868a96;
$grayNine: #71727A;

$whiteTwo: #dde3e8;
$blackLight: #263238;

$themeBlue: #093252;


// fonts
$font-bold: 'Gilroy-Bold', sans-serif;
$font-heavy: 'Gilroy-Heavy', sans-serif;
$font-light: 'Gilroy-Light', sans-serif;
$font-medium: 'Gilroy-Medium', sans-serif;
$font-regular: 'Gilroy-Regular', sans-serif; 


