@import url('https://fonts.cdnfonts.com/css/gilroy-bold');


@mixin all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin all-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin font-one{
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
}

@mixin font-two{
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
}

@mixin font-three{
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
}

@mixin font-four{
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
}


@mixin font-five{
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}


@mixin image-circle{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

