.basic-details-tab{
    color: #6D6D6D;
    padding: 40px 0px;
    .register-text{
        font-size: 23px;
        font-weight: 500;
        line-height: 27px;
    }
    .detail-description{
        padding: 20px 0px;
        .desc-text{
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
        }
        .text-area-box{
            width: 100%;
            resize: none;
            height: 120px;
            overflow: auto;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #C9C9C9;
        }
    }
}