.multiple-task-tab {
  .tab-change-link {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(196, 196, 196, 1);
    .nav-item {
        .nav-link {
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
            color: rgba(50, 50, 50, 0.45);
            border: none;
            text-transform: capitalize !important;
        &.active {
          color: #2b62f9;
          border-bottom: 3px solid #2b62f9;
        }
      }
    }
  }
}
